<div class="row limit-size-small" style="background-color:#fff;">
  <div class="col-xs-12">
  <div class="row green-nav-tabs">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2 center">
      <a class="btn-facebook-friends<% if @source == 'facebook'%> active<%end%>" href="/friends/find">Facebook</a>
    </div>
    <div class="col-xs-6 col-sm-4 center">
      <a class="btn-twitter-friends<% if @source == 'twitter'%> active<%end%>" href="/friends/find?source=twitter">Twitter</a>
    </div>
  </div>
  <% if (@source == 'twitter' and current_user.twitter_account) or (@source == 'facebook' and current_user.facebook_account) %>
    <div class="row">
      <div class="col-xs-12">
        <% if @source == 'twitter' %>
          <div class="row empty-state friends-background">
            <div class="col-xs-12">
              <p>Wow.<br/>
                 Looks like none of your Twitter friends are on Knoda yet. Tell them about Knoda.
              </p>
              <a href="<%= @twitterShareLink %>" class="invite-twitter-share" target="_blank"></a>
            </div>
          </div>
        <% else %>
          <div class="row empty-state friends-background">
            <div class="col-xs-12">
              <p>Wow.<br/>
                 Looks like none of your Facebook friends are on Knoda yet. Tell them about Knoda.
              </p>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.knoda.com" class="invite-facebook-share" target="_blank"></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% @friends.each do |f|
      user = f[:knoda_info] %>
      <div class="row" style="position:relative;">
        <img src="<%= user.avatar_image[:small] %>" class="img-circle" style="height:36px;width:36px;vertical-align:middle;margin-right:10px;"/>
        <%= f[:contact_id] %>
        <%= render :partial => 'shared/follow_button', :locals => {user: user} %>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-xs-12" style="text-align: center;padding: 10px;">
        <% if @source == 'twitter' %>
          <div class="row empty-state twitter-background">
            <div class="col-xs-12">
              <p>Let's Party.<br/>
                 Find more friends by connecting to Twitter.
              </p>
              <a href="<%= user_omniauth_authorize_path(:twitter, destination:'/friends/find?source=twitter' )%>" class="invite-twitter-connect"></a>
            </div>
          </div>
        <% else %>
          <div class="row empty-state facebook-background">
            <div class="col-xs-12">
              <p>Let's Party.<br/>
                 Find more friends by connecting to Facebook.
              </p>
              <a href="<%= user_omniauth_authorize_path(:facebook, destination:'/friends/find' )%>" class="invite-facebook-connect"></a>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
  </div>
</div>
