<%= form_for(@prediction) do |f| %>
  <% if @prediction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

      <ul>
      <% @prediction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :expires_at %><br>
    <%= datetime_select :prediction, :expires_at %>    
  </div>
  <div class="field">
    <%= f.label :resolution_date %><br>
    <%= datetime_select :prediction, :resolution_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
