<%= simple_form_for @prediction, :html=> { class: 'form-horizontal' } do |f| %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-title" id="myModalLabel">PREDICT</div>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" style="display:none">
            <p>Hold on, your prediction isn't ready yet.  You'll need to</p>
            <ul style="padding-left:30px">
            </ul>
        </div>
        <div class="form-group">
          <%= f.input_field :body, :class => 'form-control body', :placeholder => 'Make a prediction...', :maxlength => '300'  %>
        </div>
        <% if @groups.size > 0 %>
          <div class="form-group">
          <%= f.input_field :group_id, :collection => @groups, :label_method => :name, :value_method => :id, :class =>'form-control group_id', :prompt => 'Public'%>
          </div>
        <% end %>
        <div class="form-group">
        <%= f.input_field :tags, :collection => ['SPORTS','ENTERTAINMENT','PERSONAL','BUSINESS','WEATHER', 'POLITICS', 'STOCKS','FUNNY','OTHER'], :class =>'form-control category', :prompt => 'Select a Category' %>
        </div>
        <label for="prediction_expires_at">Voting Ends On...</label>
        <div class="form-group">
          <input type="text" name="prediction[expires_at]" id="prediction_expires_at" style="display:none;"/>
          <div class="row">
            <div class="col-xs-6">
              <input type="date" min="2014-01-01" value="2014-01-01"  name="prediction_expires_at_date"  autocomplete="false" />
            </div>
            <div class="col-xs-6 time-picker-wrapper">
              <input name="prediction_expires_at_time" type="time" value="12:00" step="300" autocomplete="false" />
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <span class="prediction-share">
      <a class="share-facebook pull-left" href="<%= user_omniauth_authorize_path(:facebook, display:'popup', popup: true)%>"></a>
      <a class="share-twitter pull-left" href="<%= user_omniauth_authorize_path(:twitter, popup: true)%>"></a>
      </span>
      <%= f.button :submit , :class => 'btn btn-success' %>
    </div>
  </div>
</div>
<% end %>
<script>
  var twitter_account;
  var facebook_account;
  <% if current_user.twitter_account %>
  twitter_account = JSON.parse("<%= escape_javascript(current_user.twitter_account.to_json.html_safe) %>")
  <% end %>
  <% if current_user.facebook_account %>
  facebook_account = JSON.parse("<%= escape_javascript(current_user.facebook_account.to_json.html_safe) %>")
  <% end %>
  $(function() {
    view = new window.PredictionCreateView()
    <% if @default_group %>
      $('#new_prediction .group_id > option[value=<%=@default_group.id%>]').prop('selected', 'selected')
      view.disallowShare()
    <% end %>
    window.auth_delegate = view
  });
</script>
