<div class="panel panel-default predictionContainer" data-prediction-id="<%= prediction.id%>">
    <div class="panel-heading" style="padding:0px 15px; background-color: #EFEFEF">
    <div class="row userInfo" style="height:40px">
        <img src="<%= avatar_small(prediction.user) %>" style="display:inline-block; height: 40px; width:40px;" />
        <span class="username" style="font-size:1.25em"><%= prediction.user.username %></span>
        <div class="col-md-3 myChallenge pull-right">
          <%= display_challenge_icon(prediction) %>
        </div>
    </div>
    <div class="row predictionInfo" style="background-color:white; padding: 8px 20px;">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= prediction.id %>"><%= prediction.body %></a>
    </div>
    <div class="row predictionInfoLine2" style="background-color:white; padding: 5px 20px; color: #77BC1F">
      <%= display_close_status(prediction) %> | predicted <%= distance_of_time_in_words_to_now(prediction.created_at) %> ago | <%= prediction.agree_percentage %>% agree | <%= image_tag("icons/CommentIcon@2x.png") %> <%= prediction.comments.size %>
    </div>    
  </div>
  <div id="collapse<%= prediction.id %>" class="panel-collapse collapse">
    <div class="panel-body">  
      <% if (current_user.id != prediction.user_id) && !prediction.is_expired? && !prediction.is_closed? %>
        <div class="row" style="text-align: center">
          What do you think?
        </div>      
        <div class="row" style="text-align:center">
          <a href="/prediction/<%= prediction.id %>/agree" class="btn btn-lg btn-success agree">Agree</a>
          <a href="/prediction/<%= prediction.id %>/disagree" class="btn btn-lg btn-primary disagree" style="background-color:#235c37">Disagree</a>
        </div>
      <% end %>
      <div class="row">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Comments</a></li>
            <li><a class="showTally" href="#tallyTab" data-toggle="tab">Tally</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <ul class="commentsList">
              <% prediction.comments.each do |i| %>
                <li><%= i.text %></li>
              <% end %> 
              </ul>
              <div>
                <form class="addCommentForm">
                  <div class="form-group">
                    <textarea name="text" class="form-control" placeholder="Add a Comment"></textarea>
                  </div>
                  <a class="addCommentButton btn btn-success">Add</a> 
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="tallyTab">
       
            </div>
          </div> 
      </div>          
    </div>
  </div>
</div>

