<div class="panel panel-default predictionContainer" data-prediction-id="<%= prediction.id%>" data-group-id="<%= prediction.group_id%>">
    <div class="panel-heading" style="padding:0px 10px; background-color: #EFEFEF">
      <div class="row userInfo">
        <a href="/users/<%= prediction.user.username%>">
          <img src="<%= avatar_small(prediction.user) %>" style="display:inline-block; height: 47px; width:47px;margin-left: 5px;" />
          <span class="username"><%= prediction.user.username %></span>
          <% if prediction.user.verified_account %>
            <%= image_tag('icons/VerifiedCheckmark.png', {:class => 'verified-account'}) %>
          <% end %>
        </a>
        <% if user_signed_in? %>
        <div class="col-md-3 myChallenge pull-right">
            <% if (current_user.id == prediction.user_id && prediction.is_ready_for_resolution? && !prediction.is_closed?) %>
              <a>
              <%= image_tag('icons/sd/prediction_alert.png', :class => 'pull-right', :style => "margin-top: 12px") %>
              </a>
            <% else %>
            <%= display_challenge_icon(prediction) %>
            <%= display_won_lost(prediction) %>
            <% end %>
        </div>
        <% end %>
    </div>
    <div class="row predictionInfo" style="background-color:white; padding: 8px 20px 0px 20px">
      <p style="display:inline-block;cursor:text"><%= prediction.body %></p>
    </div>
    <div class="row predictionInfoLine2">
      <a style="width:100%;display:inline-block;"><%= display_close_status(prediction) %> | predicted <%= distance_of_time_in_words_to_now(prediction.created_at) %> ago | <span class="agree-percentage"><%= prediction.agree_percentage %></span>% agree | <%= image_tag("icons/CommentIcon@2x.png") %> <%= prediction.comments.size %></a>
    </div>
    <% if prediction.group %>
    <div class="row predictionInfoLine3">
      <a href="/groups/<%= prediction.group_id %>"><%= prediction.group.name %></a>
    </div>
    <% elsif prediction.contest %>
    <div class="row predictionInfoLine3 contest">
      <a href="/contests/<%= prediction.contest_id %>"><%= prediction.contest_name %></a>
    </div>
    <% elsif prediction.embed_locations.size > 0 %>
    <div class="row predictionInfoLine3 embed">
      <a href="<%= prediction.embed_locations.first.url %>" target="_blank">featured on <%= prediction.embed_locations.first.domain %></a>
    </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <div class="panel-body" <% if collapseState != 'in' %> style="display:none"<% end %>>
    <div class="section-2">
      <%= render partial: "predictions/section2", locals: { prediction: prediction} %>
    </div>
    <div class="row prediction_tabs">
      <div class="col-xs-3 col-sm-3 col-md-2 col-md-offset-2">
        <a class="comments active"></a>
        <a class="commentsText"><p>COMMENTS</p></a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2">
        <a class="tally"></a>
        <a class="tallyText"><p>THE TALLY</p></a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2">
        <%if user_signed_in? and prediction.group_id and current_user.member_of(prediction.group) %>
          <a href="/groups/<%= prediction.group_id%>" class="group"></a>
          <a href="/groups/<%= prediction.group_id%>"><p>GROUP</p></a>
        <% elsif prediction.embed_locations.size > 0 %>
          <a href="<%= prediction.embed_locations.first.url %>" class="embed" target="_blank"></a>
          <a href="<%= prediction.embed_locations.first.url %>" target="_blank"><p>FEATURED</p></a>
        <% else %>
          <a href="/predictions?tag=<%=prediction.tags[0]%>" class="similar"></a>
          <a href="/predictions?tag=<%=prediction.tags[0]%>"><p>SIMILAR</p></a>
        <% end %>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2">
        <a class="share share-prediction <% if prediction.group_id %>inactive<% end %>"></a>
        <a class="share-prediction <% if prediction.group_id %>inactive<% end %>"><p>SHARE</p></a>
      </div>
    </div>
    <div class="row">
      <div class="comments-content">
        <%= render partial: "predictions/comments", locals: {comments: prediction.comments} %>
      </div>
      <div class="tally-content" style="display:none">
      </div>
    </div>
  </div>
  <% end %>
</div>
<% if user_signed_in? && (current_user.id == prediction.user.id) && prediction.is_expired? && !prediction.is_closed? %>
<div class="modal fade" id="editPrediction_<%= prediction.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<% end %>
