<%= javascript_include_tag 'share_actions' %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-title" id="myModalLabel">SHARE THIS PREDICTION</div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 alerts">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="text-align:center">
          <div class="row">
            <% if current_user.twitter_account != nil %>
              <a class="tsb" id="twitter-share-button" data-prediction-id="<%= prediction.id %>" data-toggle="tooltip" data-placement="bottom" title="Share on Twitter"></a>
            <% else %>
              <a class="tsb" href="https://twitter.com/intent/tweet?text=<%=u(prediction.body)%>&tw_p=tweetbutton&url=<%= u(prediction.short_url)%>&via=KNODAfuture" target="_new" data-toggle="tooltip" data-placement="bottom" title="Share on Twitter"></a>
            <% end %>
            <% if current_user.facebook_account != nil %>
              <a class="fsb" id="facebook-share-button" data-prediction-id="<%= prediction.id %>" data-toggle="tooltip" data-placement="bottom" title="Share on Facebook"></a>
            <% else %>
              <a class="fsb" href="https://www.facebook.com/sharer/sharer.php?app_id=225565977626604&sdk=joey&u=<%= u(prediction.short_url)%>" target="_new" data-toggle="tooltip" data-placement="bottom" title="Share on Facebook"></a>
            <% end %>
            <a class="btn-share-embed esb" data-toggle="tooltip" data-placement="bottom" title="Embed on Your Website or Blog"></a>
          </div>
        </div>
      </div>
      <div class="row embed-code" style="display:none;">
        <div class="col-xs-12" style="text-align:left;padding-top: 50px;">
          <textarea id="code-js" class="form-control" style="font-size: 0.75em; height: 100px;"><!-- Place the following tag in your page where you want the prediction to appear --><div id="prediction<%= prediction.id %>"></div><script src="https://knoda.s3.amazonaws.com/embed-assets/knoda-embed-1.0.0.min.js"></script><script>new knoda().Embed('<%= prediction.id %>')</script></textarea>
          <textarea id="code-iframe" class="form-control" style="font-size: 0.75em; height: 100px;display:none;">
<iframe src="<%= Rails.application.config.knoda_web_url %>/predictions/<%= prediction.id %>/embed" width="640" height="360" frameborder="0"></iframe>
          </textarea>
          <input type="checkbox" id="use-iframe" name="use-iframe" style="padding-left:20px;" /> I can't use javascript on my site.
          <br />
          <p>Need help? <a target="_blank" href="https://knoda.zendesk.com/hc/en-us/articles/202385570-Using-Knoda-Predictions-in-your-Website">How to embed predictions in your website</a>
        </div>
      </div>
      <div style="display:none">
		      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.knoda/predictions/<%=prediction.id%>/share" data-text="<%=prediction.body%>" data-via="KnodaFuture" data-size="large" data-count="none">Tweet</a>
        <div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button" data-width="76px" ></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
    </div>
  </div>
</div>
<script>
  $('.fsb,.tsb,.esb').tooltip()
  $('.btn-share-embed').on('click', function() {
    $('.embed-code').show();
  });
  $('input#use-iframe').on('click', function() {
    $('#code-iframe').toggle();
    $('#code-js').toggle();
  });
</script>
