<%= javascript_include_tag 'share_actions' %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-title" id="myModalLabel">SHARE</div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12" style="text-align:center">
          <div class="row">
            <% if current_user.twitter_account != nil %>
              <a id="twitter-share-button" data-prediction-id=<%= prediction.id %>><%= image_tag('icons/social/twitter.png') %></a>
            <% else %>
              <a href="https://twitter.com/intent/tweet?text=<%=u(prediction.body)%>&tw_p=tweetbutton&url=<%= u(prediction.short_url)%>&via=KNODAfuture" target="_new"><%= image_tag('icons/social/twitter.png') %></a>
            <% end %>
            <% if current_user.facebook_account != nil %>
              <a id="facebook-share-button" data-prediction-id=<%= prediction.id %>><%= image_tag('icons/social/facebook.png') %></a>
            <% else %>
              <a href="https://www.facebook.com/sharer/sharer.php?app_id=225565977626604&sdk=joey&u=<%= u(prediction.short_url)%>" target="_new"><%= image_tag('icons/social/facebook.png') %></a>
            <% end %>
            
          </div>
          <div class="row" style="text-align:center">
            <div style="width:128px;display:inline-block">Twitter</div>
            <div style="width:128px;display:inline-block">Facebook</div>
          </div>  

        </div>
      </div>
      <div style="display:none">
		      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.knoda/predictions/<%=prediction.id%>/share" data-text="<%=prediction.body%>" data-via="KnodaFuture" data-size="large" data-count="none">Tweet</a>
        <div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button" data-width="76px" ></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
    </div>
  </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>