<div class="col-xs-12">
<div class="row" style="border-bottom: 1px solid #efefef">
	<div class="col-xs-6">
		<h3>Agree <%= @agreeUsers.size %></h3>
	</div>
	<div class="col-xs-6 right">
		<h3>Disagree <%= @disagreeUsers.size %></h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 agreeeUsersList">
		<% @agreeUsers.each do |i| %>
				<p><a href="/users/<%= i.username %>"><%= i.username %></a>
					 <% if i.verified_account %>
	            		<%= image_tag('icons/VerifiedCheckmark.png', {:class => 'verified-account'}) %>
	          		<% end %>
          		</p>
		<% end %>
	</div>
	<div class="col-xs-6 right disagreeUsersList">
		<% @disagreeUsers.each do |i| %>
				<p><a href="/users/<%= i.username %>"><%= i.username %></a>
					 <% if i.verified_account %>
	            		<%= image_tag('icons/VerifiedCheckmark.png', {:class => 'verified-account'}) %>
	          		<% end %>
          		</p>
		<% end %>			
	</div>
</div>
</div>