<!DOCTYPE html>
<html>
  <head>
    <title>Knoda</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Knoda lets you predict anything, challenge your friends, and talk some trash.  Make your prediction today." />
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:500,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>" />
    <link rel="shortcut icon" type="image/png" href="<%= image_path('favicon.png') %>" />
    <%= stylesheet_link_tag "application-embed" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://knoda.s3.amazonaws.com/embed-assets/pym.min.js"></script>
    <%= javascript_include_tag "embed" %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= render partial: "shared/google_analytics_embed" %>
    <%= render partial: "shared/flurry_analytics" %>
    <style type="text/css">
      .btn-agree.active, .btn-disagree.active {
        background-color: #255b38;
        border-color: #255b38;
      }
    </style>
  </head>
  <body>
    <div id="embed-container">
      <div class="container prediction-item" data-prediction-id="<%= @prediction.id %>">
        <div class="row header">
          <div class="col-xs-12">
            <img src="<%= avatar_small(@prediction.user) %>" class="pull-left" />
            <p class="pull-left prediction-username">
              <%= @prediction.user.username %>
              <% if @prediction.user.verified_account %>
                <%= image_tag('icons/VerifiedCheckmark.png', {:class => 'verified-account'}) %>
              <% end %>
            </p>
            <span class="pull-right logo"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12"><p class="prediction-body"><%= @prediction.body %></p></div>
        </div>
        <div class="row">
          <div class="col-xs-12"><p class="prediction-meta">made <%= distance_of_time_in_words_to_now(@prediction.created_at) %> ago on <span style="font-weight:400">Knoda.com</span></p></div>
        </div>
        <div class="row" style="border:0">
          <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: <%= @prediction.agree_percentage %>%">
              <span class="sr-only"><%= @prediction.agree_percentage %>% Agree</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: <%= 100 - @prediction.agree_percentage %>%">
              <span class="sr-only"><%= 100 - @prediction.agree_percentage %>% Disagree</span>
            </div>
          </div>
        </div>
        <div class="row tally">
          <div class="col-xs-3 center agree"><%= @prediction.agreed_count %></div>
          <% if @prediction.is_expired? && @prediction.is_closed? %>
            <div class="col-xs-6 center resolved">
              <%= display_owner_result_outcome_icon(@prediction) %>
              <p class="outcome-text"><%= @prediction.user.username %> <% if @prediction.outcome == true %>Won<%else%>Lost<%end%>!</p>
            </div>
          <% else %>
            <div class="col-xs-6 center "><span class="percentage"><%= @prediction.agree_percentage %>%</span><p class="percentage-label">Agree</p></div>
          <% end %>
          <div class="col-xs-3 center disagree"><%= @prediction.disagreed_count %></div>
        </div>
        <% if (current_user == nil || current_user.id != @prediction.user_id) && !@prediction.is_expired? && !@prediction.is_closed? %>
        <div class="row action-buttons">
          <div class="sep"></div>
          <div class="col-xs-6">
            <a class="btn btn-success btn-agree <%= embed_active_challenge(@prediction, 'agree') %>">Agree</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-success btn-disagree <%= embed_active_challenge(@prediction, 'disagree') %>">Disagree</a>
          </div>
        </div>
        <% else %>
        <div class="row call-to-action">
          <div class="col-xs-12">Make your own predictions on Knoda.com</div>
        </div>
        <% end %>
      </div>
    </div>
  <script>
  $(function() {
    view = new EmbedView({container: $('body')})
    <% if current_user %>
    view.userId = <%= current_user.id %>
    <% end %>
    var pymChild = new pym.Child();
  });
  </script>
  </body>
</html>
