<% title "#{@prediction.user.username}'s prediction" %>
<% content_for :head do %>
  <%= stylesheet_link_tag "application-prelogin" %>
  <meta property="og:site_name" content="Knoda" />
  <meta name="twitter:card" content="photo">
  <meta name="twitter:image" content="<%=@prediction.shareable_image%>">
  <meta name="twitter:image:width" content="640">
  <meta name="twitter:image:height" content="640">
  <meta name="twitter:site" content="@KNODAfuture">
  <meta name="twitter:title" content="<%= "@#{@prediction.user.username}" %>'s Prediction">
  <% if @prediction.user.twitter_account %>
    <meta name="twitter:creator" content="<%= "@#{@prediction.user.twitter_account.provider_account_name}" %>">
  <% end %>
  <meta name="twitter:app:name:iphone" content="Knoda"/>
  <meta name="twitter:app:id:iphone" content="764642995"/>
  <meta name="twitter:app:url:iphone" content="knoda://predictions/<%= "#{@prediction.id}" %>"/>
  <meta name="twitter:app:name:ipad" content="Knoda"/>
  <meta name="twitter:app:id:ipad" content="764642995"/>
  <meta name="twitter:app:url:ipad" content="knoda://predictions/<%= "#{@prediction.id}" %>"/>
  <meta name="twitter:domain" content="knoda.com">
  <meta property="fb:app_id" content="455514421245892" />
  <meta property="og:type"   content="knodafacebook:prediction" />
  <meta property="og:url"    content="<%= request.original_url %>" />
  <meta property="og:title"  content="<%= "#{@prediction.user.username}" %>'s Prediction" />
  <meta property="og:description"  content="<%= @prediction.body%>"/>
  <meta property="og:image" content="<%= @prediction.user.avatar_image[:small]%>"/>
<% end %>

<%= render "home/prelogin/header"%>

<div class="content container">
<div class="panel panel-default predictionContainer" data-prediction-id="<%= @prediction.id%>" style="">
    <div class="panel-heading" style="padding:0px 15px; background-color: #EFEFEF">
    <div class="row userInfo" style="height:40px">
        <a href="/users/<%=@prediction.user.username%>">
          <img src="<%= avatar_small(@prediction.user) %>" style="display:inline-block; height: 40px; width:40px;" />
          <span class="username"><%=@prediction.user.username %></span>
          <% if @prediction.user.verified_account %>
            <%= image_tag('icons/VerifiedCheckmark.png', {:class => 'verified-account'}) %>
          <% end %>
        </a>
        <div class="col-md-3 myChallenge pull-right">
        </div>
    </div>
    <div class="row predictionInfo" style="background-color:white; padding: 8px 20px;" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=@prediction.id %>">
      <a><%=@prediction.body %></a>
    </div>
    <div class="row predictionInfoLine2" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=@prediction.id %>"style="background-color:white; padding: 5px 20px; color: #77BC1F">
      <%= display_close_status(@prediction) %> | predicted <%= distance_of_time_in_words_to_now(@prediction.created_at) %> ago | <%=@prediction.agree_percentage %>% agree | <%= image_tag("icons/CommentIcon@2x.png") %> <%=@prediction.comments.size %>
    </div>
  </div>
</div>
<div class="row" style="text-align:center;margin-top:20px;">
  <p><a href="/" style="color:white;font-size:1.1em;">Sign Up or Login to join the conversation.</a></p>
  <div class="app-badges" style="text-align: center;">
    <a onclick="ga('send', 'event', 'redirect', 'app_store');" href="https://itunes.apple.com/us/app/knoda/id764642995" target="_blank"><%= image_tag("appStoreBadge.png") %></a>
    <a onclick="ga('send', 'event', 'redirect', 'play_store');" href="https://play.google.com/store/apps/details?id=com.knoda.knoda" target="_blank"><%= image_tag("playStoreBadge.png") %></a>
  </div>
</div>
</div>
