<div class="row contest-item" data-contest-id="<%= contest.id %>">
  <div class="col-xs-12 center">
      <div class="row"><div class="col-xs-12">
          <% if contest.avatar_image %>
         <img src="<%= avatar_small(contest) %>" class="avatar_small img-circle avatar-circle"/>
         <% end %>
         <h2><%= contest.name %></h2>
         <p class="description"><%= contest.description %></p>
      </div></div>
      <div class="row">
        <div class="col-xs-6">
          <% if my_contest_rank(contest) != nil %>
          <p class="stat-value"><%= my_contest_rank(contest) %></p>
          <p class="stat-label">overall(<%= contest.participants %>)</p>
          <% end %>
        </div>
        <div class="col-xs-6">
          <% if contest.leader_info %>
          <p class="stat-value"><%= contest.leader_info[:username] %></p>
          <p class="stat-label">current contest leader</p>
          <% end %>
        </div>
  </div>
</div>
</div>
