<% @contest.predictions.each do |prediction| %>
<div class="panel panel-default predictionContainer" data-prediction-id="<%= prediction.id%>" data-group-id="<%= prediction.group_id%>">
    <div class="panel-heading" style="padding:0px 15px; background-color: #EFEFEF">
    <div class="row userInfo">
        <a href="/users/<%= prediction.user.username%>">
          <img src="<%= avatar_small(prediction.user) %>" style="display:inline-block; height: 47px; width:47px;" />
          <span class="username"><%= prediction.user.username %></span>
          <% if prediction.user.verified_account %>
            <%= image_tag('icons/VerifiedCheckmark.png', {:class => 'verified-account'}) %>
          <% end %>
        </a>
    </div>
    <div class="row predictionInfo" style="background-color:white; padding: 8px 20px;">
      <p style="width:100%;display:inline-block;"><%= prediction.body %></p>
    </div>
    <div class="row">
      <div style="text-align:center; padding:4px; background-color:white;" >
        <select name="standings-select" class="form-control input-sm standings-select<%=prediction.id%>">
          <option value="0">No Stage</option>
          <% @contest.contest_stages.each do |s| %>
          <option value="<%= s.id %>"><%= s.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <% if prediction.group %>
    <div class="row predictionInfoLine3">
      <a href="/groups/<%= prediction.group_id %>"><%= prediction.group.name %></a>
    </div>
    <% end %>
    <% if prediction.contest %>
    <div class="row predictionInfoLine3">
      <a href="/contests/<%= prediction.contest_id %>"><%= prediction.contest_name %></a>
    </div>
    <% end %>
  </div>
</div>
<script>
$(function() {
  $('.standings-select<%=prediction.id%>').change(function(e) {
    console.log($(e.currentTarget).val());
      u = "/predictions/<%= prediction.id %>.json"
    $.ajax({
      url: u,
      type: "PUT",
      dataType: "json",
      data: body,
      success: (function(data) {
        $('.standings-container').html(data)
      })
    });
  });
});
</script>
<% end %>
