<!DOCTYPE html>
<html>
  <head>
    <title>Knoda</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Knoda lets you predict anything, challenge your friends, and talk some trash.  Make your prediction today." />
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>" />
    <link rel="shortcut icon" type="image/png" href="<%= image_path('favicon.png') %>" />
    <%= stylesheet_link_tag "application-contest-embed" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://knoda.s3.amazonaws.com/embed-assets/pym.min.js"></script>
    <%= javascript_include_tag "embed" %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= render partial: "shared/google_analytics" %>
    <%= render partial: "shared/flurry_analytics" %>
    </style>
  </head>
  <body>
    <div class="container" id="embed-container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= @contest.name %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="description"><%= @contest.description %></p>
        </div>
      </div>
      <% if @contest.avatar_image %>
      <div class="row">
        <div class="col-xs-12">
          <p>avatar</p>
        </div>
      </div>
      <% end %>
      <div class="row contest-navigation">
        <div class="col-xs-12">
          <div class="btn-group">
            <a class="btn btn-default btn-predictions active">Predictions</a>
            <a class="btn btn-default btn-standings">Standings</a>
          </div>
        </div>
      </div>
      <div class="predictions">
        <% @contest.predictions.recent.latest.each do |prediction| %>
        <div class="row prediction-item" data-prediction-id="<%= prediction.id %>">
          <div class="col-xs-12">
            <img src="<%= avatar_small(prediction.user) %>" style="display:inline-block; height: 25px; width:25px;" class="img-circle" />
            <span class="username"><%= prediction.user.username %></span>
            <% if prediction.user.verified_account %>
              <%= image_tag('icons/VerifiedCheckmark.png', {:class => 'verified-account'}) %>
            <% end %>
            <p class="prediction-body"><%= prediction.body %></p>
            <p class="prediction-meta"><%= voting_ends_on(prediction) %> | 75% agree</p>
            <div class="row" style="border:0;">
              <div class="col-xs-12 progress">
                <div class="progress-bar progress-bar-success" style="width: <%= prediction.agree_percentage %>%">
                  <span class="sr-only"><%= prediction.agree_percentage %>% Agree</span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: <%= 100 - prediction.agree_percentage %>%">
                  <span class="sr-only"><%= 100 - prediction.agree_percentage %>% Disagree</span>
                </div>
              </div>
            </div>
            <div class="row action-buttons">
              <div class="col-xs-12">
                <div class="btn-group" style="width:100%">
                  <a class="btn btn-primary btn-agree <%= embed_active_challenge(prediction, 'agree') %>">Agree</a>
                  <a class="btn btn-primary btn-disagree <%= embed_active_challenge(prediction, 'disagree') %>">Disagree</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="standings" style="display:none">
        <% Contest.leaderboard(@contest).each do | l | %>
          <div class="row standings-item">
            <div class="col-xs-10"><span style="width:25px;display:inline-block;"><%= l[:rank] %></span><img src="<%= l[:avatar_image][:small] %>" class="img-circle" style="height:25px;width:25px;vertical-align:middle;margin-right:5px;"/><%= l[:username] %></div>
            <div class="col-xs-2 pull-right"><%= l[:won] %> </div>
          </div>
        <% end %>
      </div>
    </div>
    <script>
    $(function() {
      view = new EmbedView({container: $('body')})
      <% if current_user %>
      view.userId = <%= current_user.id %>
      <% end %>
      var pymChild = new pym.Child();
      $('.btn-predictions').click(function() {
        $('.standings').hide()
        $('.predictions').show()
      });
    $('.btn-standings').click(function() {
      $('.standings').show()
      $('.predictions').hide()
    });
    });
    </script>
  </body>
</html>
