  <div class="row groups-header">
    <div class="col-xs-12">
      <div style="padding: 10px 0px 0px 0px;">
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <span style="position:relative;">
              <img src="<%= avatar_small(@group) %>" class="avatar_small pull-left" style="padding-right:10px;"/> 
              <% if group.owned_by?(current_user) %>
                <a class="glyphicon glyphicon-pencil" style="position: absolute;top: 4px;right: 12px;" href="/groups/<%= @group.id%>/avatar"></a>
              <% end %>
            </span>
            <% if group.owned_by?(current_user) %>
              <p class="group-editable name" contenteditable="true"><%= group.name %></p>
              <p class="group-editable description" contenteditable="true"><%= group.description %></p>
            <% else %>
              <p class="name"><%= group.name %></p>
              <p class="description"><%= group.description %></p>
            <% end %>
          </div>
          <div class="col-xs-12 visible-xs" style="text-align:center;">
            <div style="height: 60px; padding: 10px; margin-bottom: 10px;">
              <a class="btn-predictions" href="/groups/<%= @group.id %>">Predictions</a>
              <a class="btn-rankings" href="/groups/<%= @group.id %>/leaderboard">Rankings</a>
              <a class="btn-settings" href="/groups/<%= @group.id %>/settings">Settings</a>
            </div>              
          </div>
          <div class="col-sm-5 hidden-xs">
            <div class="pull-right" style="height: 60px; padding: 10px;">
              <a class="btn-predictions" href="/groups/<%= @group.id %>">Predictions</a>
              <a class="btn-rankings" href="/groups/<%= @group.id %>/leaderboard">Rankings</a>
              <a class="btn-settings" href="/groups/<%= @group.id %>/settings">Settings</a>
            </div>              
          </div>          
        </div>
      </div>        
    </div>
  </div>