<% content_for :head do %>
  <%= javascript_include_tag "groups" %>
<% end %>
<div id="groups-index">
  <div class="row" style="margin-top:5px">
    <div class="col-xs-12 col-md-6 group-thumb">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left" style="height: 100px">
            <a class="new-group" href="/groups/new" data-toggle="modal" data-target="#createGroupModal" data-remote="/groups/new" title="Create a new group" class="pull-left">
            </a>
            </div>
            <div class="pull-left" style="max-width:240px;">
              <div class="row row1">
                <h3><a href="/groups/new" data-toggle="modal" data-target="#createGroupModal" data-remote="/groups/new" title="Create a new group">Create a group</a></h3>
              </div>
              <div class="row row2">
                <div class="col-xs-12">
                  <p class="smallCaption">Invite your friends, compete, and track bragging rights on the leaderboard</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <% @groups.each do |i| %>
    <div class="col-xs-12 col-md-6 group-thumb">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-12">
            <a href="/groups/<%= i.id %>" class="pull-left ">
              <img src="<%= avatar_small(i) %>" class="avatar_small" />
            </a>
            <div class="pull-left">
              <div class="row row1">
                <h3><a href="/groups/<%= i.id %>"><%= i.name %></a></h3>
              </div>
              <div class="row row2">
                <div class="col-xs-4">
                  <div class="row">
                    <div class="col-xs-12 statValue">
                      <%= my_rank(i) %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 statLabel">
                      <p>rank (<%= group_size(i) %>)</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-8">
                  <div class="row">
                    <div class="col-xs-12 statValue">
                      <%= leader_username(i) %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 statLabel">
                      <p>current 7 day leader</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
</div>
