<% content_for :head do %>
  <%= javascript_include_tag "groups" %>
<% end %>

<% if (@invitation != nil and @invitation.accepted != true) or (!@group.share_url.blank?)%>
  <h2><%= @owner.username %> has invited you to join the group <%= @group.name %> on KNODA.</h2>
  <a class="btn btn-primary joinButton">Click here to join </a>
<% else %>
  Your invitation is invalid
<% end %>
<script>
  <% if @invitation %>
    var joinGroupsView = new window.JoinGroupView(<%= @group.id %>, '<%= @invitation.code %>')
  <% else %>
    var joinGroupsView = new window.JoinGroupView(<%= @group.id %>)
  <% end %>
</script>