<% content_for :head do %>
  <%= javascript_include_tag "groups" %>
<% end %>

<div id="groups-settings">
  <div class="row">
    <div class="col-xs-12">
      <img src="<%= avatar_small(@group) %>" class="avatar_small pull-left" style="padding-right:10px;"/> 
      <div class="pull-left" style="padding:10px;">
        <div class="row">
          <div class="col-xs-12">
            <p class="group-editable name" contenteditable="true"><%= @group.name %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p class="group-editable description" contenteditable="true"><%= @group.description %></p>
          </div>
        </div>
      </div>        
    </div>
  </div>
  <div class="row group-invite-buttons">
    <div class="col-xs-12">
      <a class="btn btn-primary" href="/groups/<%=@group.id%>/invite" data-toggle="modal" data-target="#groups-inviteUsers">Invite Users</a>      
      <a class="btn btn-primary">Share Link</a>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <% @group.memberships.each do |u| %>
      <tr><td><%= u.user.username %><a class="pull-right remove-member" data-membership-id="<%= u.id %>" style="font-size:1.2em;">&times;</a></td></tr>
      <% end %>
    </table>    
  </div>

</div>


<div class="modal fade" id="groups-inviteUsers" tabindex="-1" role="dialog" aria-hidden="true">
</div>    

<script>
  view = new window.GroupSettingsView({group_id : <%= @group.id %> })
</script>