<% content_for :head do %>
  <%= javascript_include_tag 'prediction_actions' %>
<% end %>

<div class="row" style="border-bottom: 2px solid #efefef;">
  <div class="pull-left visible-lg visible-md" style="height:50px;">
    <img src="<%= avatar_small(@group) %>" class="avatar_small" /> 
  </div>
  <div class="pull-left">
    <h2>Leader Name</h2>
  </div>
  <div class="pull-right" style="height: 50px; padding: 10px;">
    <a class="btn btn-primary glyphicon glyphicon-align-justify" href="/groups/<%= @group.id %>/leaderboard"></a>
    <% if @group.owned_by?(@user) %>
      <a class="btn btn-primary glyphicon glyphicon-cog" href="/groups/<%= @group.id %>/settings"></a>
    <% end %>    
  </div>  
</div>    

<div class="panel-group" id="predictionsList">
    <% @predictions.order(created_at: :desc).limit(50).each do |i| %>
      <%= render partial: "predictions/prediction", locals: {prediction: i, collapseState: ''} %>
    <% end %>
</div>