<% content_for :head do %>
  <%= javascript_include_tag 'prediction_actions' %>
<% end %>

<div class="row" style="border-bottom: 2px solid #efefef;">
  <div class="col-xs-6 col-sm-2" style="text-align:center;">
    <img src="<%= avatar_small(@group) %>" class="avatar_small" /> 
  </div>
  <div class="col-xs-6 col-sm-10" >
    <h2><%= @group.name %></h2>
    <p><%= user_rank(@user, @leaders) %></p>
    <a class="btn btn-primary" href="/groups/<%= @group.id %>/leaderboard">Leaderboard</a>
    <% if @group.owned_by?(@user) %>
      <a class="btn btn-primary" href="/groups/<%= @group.id %>/settings">Settings</a>
    <% end %>
  </div>    
</div>    

<div class="panel-group" id="predictionsList">
    <% @predictions.order(created_at: :desc).limit(50).each do |i| %>
      <%= render partial: "predictions/prediction", locals: {prediction: i, collapseState: ''} %>
    <% end %>
</div>