
<div class="row" style="background-color: #77BC1F;margin:0px;padding-bottom: 10px;">
  <div class="col-xs-12" >
    <div class="row">
      <% user.errors.each do |e| %>
        <%= e %>
      <% end %>
      <% if params[:error] %>
      <div style="text-align: center;color: red;"><%= params[:error] %></div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12 center" style="height:160px;">
        <% if current_user != user %>
          <% if user.followed_by?(current_user) %>
            <a class="btn btn-danger btn-following pull-right" style="position:absolute;right: 5px; top: 5px;" data-id="<%= user.following(current_user).id %>" data-user-id="<%= user.id %>">Following</a>
          <% else %>
            <a class="btn btn-danger btn-follow pull-right" style="position:absolute;right: 5px; top: 5px;" data-user-id="<%= user.id %>">Follow</a>
          <% end %>
        <% end %>
        <h1><%= user.username %></h1>
        <div class="stats-followers">
          <div class="stat-value"><%= user.follower_count %></div>
          <div class="stat-label">Followers</div>
        </div>
        <img src="<%= avatar_small(user) %>" class="avatar_small img-circle avatar-circle"/>
        <div class="stats-following">
          <div class="stat-value"><%= user.following_count %></div>
          <div class="stat-label">Following</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-sm-offset-2 profileStat topLeft center">
          <div class="stat-value"><%= user.points %></div>
          <div class="stat-label">POINTS</div>
          <div class="stats-trophy"></div>
      </div>
      <div class="col-xs-6 col-sm-4 profileStat topRight">
        <div class="stat-value">
        <% if (user.won + user.lost) > 0 %>
          <%= (user.won.fdiv(user.won + user.lost) * 100).round(2) %>%
        <% else %>
          0%
        <% end %>
        </div>
        <div class="stat-label">WIN %</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-sm-offset-2 profileStat bottomLeft">
        <div class="stat-value"><%= user.streak_as_text %></div>
        <div class="stat-label">STREAK</div>
      </div>
      <div class="col-xs-6 col-sm-4 profileStat bottomRight">
        <div class="stat-value"><%= user.won %>-<%= user.lost %></div>
        <div class="stat-label">W-L</div>
      </div>
    </div>
  </div>
</div>
