<div class="row">
  <div class="col-xs-4">
    <img src="<%= avatar_small(@user) %>" style="display:inline-block; height: 100px; width:100px;" />
  </div>
  <div class="col-xs-8">
    <div class="row" style="height:50px">
      <div class="col-xs-12">
        Stats
      </div>
    </div>
    <div class="row" style="height:50px;">
      <div class="col-xs-12">
        More Stats
      </div>
    </div>    
  </div>    
</div>
<div class="row">
  <div class="col-xs-12">
    Change Password
    <%= form_for(@user, :url => { :action => "update_password" }, :html => { class: 'changePassword' } ) do |f| %>
    <div class="field">
      <%= f.label :password, "Password" %><br />
      <%= f.password_field :password, :autocomplete => "off"  %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="action_container">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
<script>
  $('form.changePassword').submit( function(e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        cache: false,
        url: $(this).attr('action'),
        data: $(this).serialize(), 
        success: function(msg) {
            console.log(msg)
        }
    });
  });
</script>