<% content_for :head do %>
  <%= javascript_include_tag 'users/show' %>
  <%= javascript_include_tag 'users/show_view' %>
  <script>FlurryAgent.logEvent("PROFILE_SCREEN");</script>
<% end %>
<div class="row">
  <% @user.errors.each do |e| %>
    <%= e %>
  <% end %>
  <% if params[:error] %>
  <div style="text-align: center;color: red;"><%= params[:error] %></div>
  <% end %>
</div>
<div class="settings-container" data-user-id="<%= @user.id%>">
  <div class="panel-group" id="accordion" style="margin-top: 20px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSocial">
            Social Networks
          </a>
        </h4>
      </div>
      <div id="collapseSocial" class="panel-collapse collapse in">
        <div class="panel-body">
          <div style="text-align:left; padding-left:10px">
            <div>
              <% if not @user.facebook_account %>
                <a href="<%= user_omniauth_authorize_path(:facebook)%>"><img src="<%= image_path('icons/social/share/facebook_share.png') %>"></a>
              <% else %>
                <img src="<%= image_path('icons/social/share/facebook_share_active.png') %>" /><%= @user.facebook_account.provider_account_name %>
                <a class="btn btn-danger btn-xs social-account-destroy" data-id="<%=@user.facebook_account.id%>">Disconnect</a>
              <% end %>
            </div>
            <div style="padding-top:10px">
              <% if not @user.twitter_account %>
                <a href="<%= user_omniauth_authorize_path(:twitter)%>"><img src="<%= image_path('icons/social/share/twitter_share.png') %>"></a>
              <% else %>
                <img src="<%= image_path('icons/social/share/twitter_share_active.png') %>" /><%= @user.twitter_account.provider_account_name %>
                <a class="btn btn-danger btn-xs social-account-destroy" data-id="<%=@user.twitter_account.id%>">Disconnect</a>
              <% end %>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseUsername">
            Username & Email
          </a>
        </h4>
      </div>
      <div id="collapseUsername" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-wrapper">
            <%= simple_form_for @user, :html=> { :class => 'form-horizontal', :id => 'edit_user' } do |f| %>
              <div class="alert alert-danger" style="display:none">
                  <p>Hold on, we've got a problem.</p>
                  <ul style="padding-left:30px">
                  </ul>
              </div>
              <div class="form-group">
                  <label for="username">Username</label>
                  <%= f.input_field :username, :class => 'form-control username', :maxlength => '20'  %>
                  <label for="email">Email Address</label>
                  <%= f.input_field :email, :class => 'form-control email', :maxlength => '255'  %>
              </div>
                <%= f.button :submit , :class => 'btn btn-success btn-lg', :value => 'Save' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapsePassword">
            Password
          </a>
        </h4>
      </div>
      <div id="collapsePassword" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-wrapper">
            <%= simple_form_for @user, :url => { :controller => 'users', :action => "update_password" }, :html=> { :class => 'form-horizontal', :id => "edit_user_password" } do |f| %>
              <div class="alert alert-danger" style="display:none">
                  <p>Hold on, we've got a problem.</p>
                  <ul style="padding-left:30px">
                  </ul>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <%= f.password_field :password, :class => 'form-control email', :maxlength => '50', :autocomplete => "off"  %>
                <label for="password_confirmation">Confirm Password</label>
                <%= f.password_field :password_confirmation, :class => 'form-control email', :maxlength => '50', :autocomplete => "off"  %>
              </div>
              <%= f.button :submit , :class => 'btn btn-success btn-lg', :value => 'Change Password' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseAvatar">
            Avatar
          </a>
        </h4>
      </div>
      <div id="collapseAvatar" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-wrapper">
            <div style="margin: 35px 0px;">
              <img src="<%= avatar_big(@user) %>" class="avatar_big" />
            </div>
            <a href="/users/me/avatar" class="btn btn-success btn-lg">Change Avatar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 center">
      <a href="/signout" class="btn btn-danger" style="width:280px">Log Out</a>
    </div>
  </div>
</div>
