<% content_for :head do %>
  <%= javascript_include_tag 'users/show' %>
  <%= javascript_include_tag 'users/show_view' %>
<% end %>
<div class="userContainer" data-user-id="<%= @user.id%>">
  <%= render partial: "users/stats", locals: {user: @user} %>

  <div class="row">
    <% @user.errors.each do |e| %>
      <%= e %>
    <% end %>
    <% if params[:error] %>
    <div style="text-align: center;color: red;"><%= params[:error] %></div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1">
      <%= simple_form_for @user, :html=> { :class => 'form-horizontal', :id => 'edit_user' } do |f| %>
        <h3>Your Username and Email </h3>
        <div class="alert alert-danger" style="display:none">
            <p>Hold on, we've got a problem.</p>
            <ul style="padding-left:30px">
            </ul>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <%= f.input_field :username, :class => 'form-control username', :maxlength => '20'  %>
            <label for="email">Email Address</label>
            <%= f.input_field :email, :class => 'form-control email', :maxlength => '255'  %>
        </div>
          <%= f.button :submit , :class => 'btn btn-success btn-lg', :value => 'Save' %>
      <% end %>

      <br />
      <%= simple_form_for @user, :url => { :controller => 'users', :action => "update_password" }, :html=> { :class => 'form-horizontal', :id => "edit_user_password" } do |f| %>
        <h3>Your Password</h3>
        <div class="alert alert-danger" style="display:none">
            <p>Hold on, we've got a problem.</p>
            <ul style="padding-left:30px">
            </ul>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <%= f.password_field :password, :class => 'form-control email', :maxlength => '50', :autocomplete => "off"  %>
          <label for="password_confirmation">Confirm Password</label>
          <%= f.password_field :password_confirmation, :class => 'form-control email', :maxlength => '50', :autocomplete => "off"  %>
        </div>
        <%= f.button :submit , :class => 'btn btn-success btn-lg', :value => 'Change Password' %>
      <% end %>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1">
      <h3>Your Avatar</h3>
      <div style="margin: 35px 0px;">
        <img src="<%= avatar_big(@user) %>" class="avatar_big" />
      </div>
      <a href="/users/me/avatar" class="btn btn-success btn-lg">Change Avatar</a>
      <h3>Social Networks</h3>
      <div>
        <% if not @user.facebook_account %>
          <a href="<%= user_omniauth_authorize_path(:facebook)%>">Facebook</a>
        <% else %>
          <strong>Connected:</strong> <%= @user.facebook_account.provider_account_name %><a class="social-account-destroy" data-id="<%=@user.facebook_account.id%>">Delete</a>
        <% end %>
      </div>
      <div>
        <% if not @user.twitter_account %>
          <a href="<%= user_omniauth_authorize_path(:twitter)%>">Twitter</a>
        <% else %>
          <strong>Connected:</strong> <%= @user.twitter_account.provider_account_name %> <a class="social-account-destroy" data-id="<%=@user.twitter_account.id%>">Delete</a>
        <% end %>
      </div>
  </div>
</div>
<script>
$(function() {
    options = { user: {}, social_accounts: [] }
    options.user = JSON.parse("<%= escape_javascript(@user.to_json.html_safe) %>");
    <% if @user.twitter_account %>
    options.social_accounts.push(JSON.parse("<%= escape_javascript(@user.twitter_account.to_json.html_safe) %>"))
    <% end %>
    <% if @user.facebook_account %>
    options.social_accounts.push(JSON.parse("<%= escape_javascript(@user.facebook_account.to_json.html_safe) %>"))
    <% end %>
    view = new UserShowView(options)
});
</script>
