<% content_for :head do %>
  <%= javascript_include_tag 'prediction_actions' %>
  <%= javascript_include_tag 'users/show' %>
  <%= javascript_include_tag 'users/show_view' %>
  <%= javascript_include_tag 'follow_button_view' %>
  <script>FlurryAgent.logEvent("PROFILE_SCREEN");</script>
<% end %>
<div class="userContainer" data-user-id="<%= @user.id%>">
  <%= render partial: "users/stats", locals: {user: @user} %>
</div>
<% if current_user == @user %>
<div class="row history-tabs" >
  <div class="col-xs-6 col-sm-4 col-sm-offset-2 center">
    <a class="predictions" href="/users/me">My Predictions</a>
  </div>
  <div class="col-xs-6 col-sm-4 center">
    <a class="votes" href="/users/me?history=votes">My Votes</a>
  </div>
</div>
<% end %>
<div class="panel-group" id="predictionsList">
  <% @predictions.each do |i| %>
    <%= render partial: "predictions/prediction", locals: {prediction: i, collapseState: ''} %>
  <% end %>
</div>
<script>
$(function() {
    options = { user: {}, social_accounts: [] }
    options.user = JSON.parse("<%= escape_javascript(@user.to_json.html_safe) %>");
    <% if @user.twitter_account %>
    options.social_accounts.push(JSON.parse("<%= escape_javascript(@user.twitter_account.to_json.html_safe) %>"))
    <% end %>
    <% if @user.facebook_account %>
    options.social_accounts.push(JSON.parse("<%= escape_javascript(@user.facebook_account.to_json.html_safe) %>"))
    <% end %>
    <% if params[:history] == 'votes' %>
      options.history = 'votes'
    <% else %>
      options.history = 'predictions'
    <% end %>
    options.historyContainer = $('#predictionsList')
    view = new UserShowView(options)
    followButtonView = new FollowButtonView()
});
</script>
