<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { class: 'form-signin', :method => :put }) do |f| %>
  <h2 class="form-signin-heading">Change your password</h2>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token%>
  <%= f.password_field :password, :autofocus => true, :class => 'form-control' %>
  <%= f.password_field :password_confirmation, :class => 'form-control' %>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Change my password</button>
<% end %>