<% content_for :head do %>
  <script>
  $(function() {
      window.connectView = new KnodaConnectView({destination: '<%= @destination || "/predictions" %>', popup: <%= popup %> })
  });
  </script>
<% end %>
<div id="knoda_connect">
  <div class="alert alert-danger" <% if not params[:error] %> style="display:none"<% end %>>
    <span class="alertText">
      <% if params[:error] %><%= params[:error] %><% end %>
    </span>
    <ul style="padding-left:30px">
    </ul>
  </div>
  <div class="connect-options">
    <div class="row">
      <div class="col-xs-12">
        <div class="connect-option connect-option-email">
          <a><span class="btn-email">Sign Up with Email</span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="connect-option connect-option-facebook">
            <a href="<%= user_omniauth_authorize_path(:facebook, display: 'popup', embed: true)%>"><span class="btn-facebook">Sign in with Facebook</span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="connect-option connect-option-twitter">
          <a href="<%= user_omniauth_authorize_path(:twitter, embed: true)%>"><span class="btn-twitter">Sign in with Twitter</span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <a class="login pull-right">Knoda User?  Login</a>
      </div>
    </div>
  </div>
  <div class="signup-page" style="display:none;">
    <%= render partial: "shared/signup.html.erb", locals: {input_size: ''} %>
    <div class="row">
      <div class="col-xs-12">
          <a class="back pull-left">Back</a>
          <a class="login pull-right">Knoda User? Login</a>
      </div>
    </div>
  </div>
  <div class="facebook-page" style="display:none;">
    <div class="row header">
      <div class="col-xs-2"><div class="back pull-right"></div></div>
    </div>
  </div>
  <div class="twitter-page" style="display:none;">
    <div class="row header">
      <div class="col-xs-2"><div class="back pull-right"></div></div>
    </div>
  </div>
  <div class="login-page" style="display:none;">
    <%= render partial: "shared/login.html.erb" , locals: {input_size: ''} %>
    <div class="row">
      <div class="col-xs-12">
          <a class="back pull-left">Back</a>
          <%= link_to 'Forgot Password?', new_password_path(:user), :class => 'pull-right'%>
      </div>
    </div>
  </div>
</div>
