<!DOCTYPE html>
<html>
  <head>
    <title>Knoda</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Knoda lets you predict anything, challenge your friends, and talk some trash.  Make your prediction today." />
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:500,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>" />
    <link rel="shortcut icon" type="image/png" href="<%= image_path('favicon.png') %>" />
    <%= stylesheet_link_tag "application-embed" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag "embed" %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= render partial: "shared/google_analytics" %>
    <%= yield :head %>
  </head>
  <body style="background-color:#ffffff;">
    <div id="embed-login-container">
      <div class="container">
        <%= render partial: "shared/knoda_connect.html.erb", locals: {popup: true}%>
      </div>
    </div>
  <script>
  $(function() {
    startLoading = function() {
    };
    stopLoading = function() {
    };
    <% if params[:close] and not params[:error] %>
      window.opener.view.afterLogin({ANALYTICS_EVENT : '<%= params[:ANALYTICS_EVENT] %>', user_id: '<%= current_user.id %>'})
      self.close()
    <% else %>
      <% if params[:error] %>
        if (window.opener.view.afterError) {
          window.opener.view.afterError('<%= params[:error] %>')
          self.close()
        } else {
          new KnodaConnectView({destination: '<%= @destination || "/predictions" %>', popup: true})
        }
      <% else %>
        new KnodaConnectView({destination: '<%= @destination || "/predictions" %>', popup: true})
      <% end %>
    <% end %>
  });
  </script>
  </body>
</html>
