<% title "Knoda | Predict • Compete • Conquer" %>
<div class="row" style="background-color: white; padding: 0px 40px;">       
  <div class="col-xs-0 col-sm-0 col-md-5 col-md-offset-1 hidden-xs hidden-sm" style="padding-top:0px">
    <div style="position:relative; top: 50px; height: 200px">
    <%= image_tag("app_mockups.png") %>
  </div>
  </div>
  <div class="col-xs-9 col-sm-6 col-md-3 " style="padding-top:30px;padding-bottom: 40px">
      <div class="hidden-xs" style="padding-top: 70px;"></div>
      <p style="font-size: 1.5em"><span style="font-weight:700">Howdy,</span> new to Knoda?</p>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <div class="alert alert-danger" style="display:none">
              <p>Hold on, your registration isn't ready yet.</p>
              <ul style="padding-left:30px">
              </ul>
            </div>
            <div class="form-group">
              <%= f.email_field :email, :class => 'form-control input-lg', :placeholder => 'email' %>
            </div>
            <div class="form-group">
              <%= f.text_field :username, :class => 'form-control input-lg', :placeholder => 'username' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, :class => 'form-control input-lg', :placeholder => 'password' %>
            </div>
            <div><a class="signup">Sign Up <%= image_tag('icons/sd/login_arrow.png') %></a></div>
            <br />
            <a class="login" data-toggle="modal" data-target="#loginModal">Already a Knoda user? Login</a>
          <% end %>       
  </div>
  <div class="col-sm-3 col-xs-6" style="padding-bottom: 10px;">
    <div class="hidden-xs" style="margin-top: 200px"></div>
    <a href="https://itunes.apple.com/us/app/knoda/id764642995" target="_blank"><%= image_tag("appStoreBadge.png") %></a>
  </div>  
</div> 
<div class="row home-bullets">
  <div class="col-md-6 col-sm-12 col-xs-12 pull-right">
    <div class="row">
      <div class="col-md-6 pull-right"><%= image_tag("icons/sd/talktrash_icon.png") %>Talk some trash</div>
      <div class="col-md-6 pull-right"><%= image_tag("icons/sd/predictfuture_icon.png")  %>Predict the future</div>
    </div>
    <div class="row">
      <div class="col-md-6 pull-right"><%= image_tag("icons/sd/settlescore_icon.png") %>Settle the score</div>
      <div class="col-md-6 pull-right"><%= image_tag("icons/sd/challenge_icon.png") %>Challenge your friends</div>
    </div>    
  </div>
</div>  

<% content_for :bodyClose do %>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title" id="myModalLabel">LOGIN TO KNODA</div>
      </div>
      <div class="modal-body">
          <div class="alert alert-danger" style="display:none">
              <p>Hold on, your prediction isn't ready yet.  You'll need to</p>
              <ul style="padding-left:30px">
              </ul>
          </div>
              <div class="form-group">
                <%= f.text_field :login, :autofocus => true, :class => 'form-control', :placeholder => 'email address or username' %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, :class => 'form-control', :placeholder => 'password'%>
              </div>
              <%= link_to 'forgot password?', new_password_path(:user) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit :value => "Sign In", :class => 'btn btn-success' %>
      </div>
    </div><!-- /.modal-content -->
    <% end %>         
  </div><!-- /.modal-dialog -->     
  </div>

  <script>
  $(function() {
    $('.signup').on('click', function(e) {
      startLoading()
      $.ajax({
        url: "/users.json",
        data: $('#new_user').serialize(),
        type: "POST",
        dataType: "json",
        success: function(json, status) {
          console.log(json);
          window.location = json.location;
        },
        error: function(xhr, status) {
          $('#new_user .alert').show()
          $('#new_user .alert ul').empty();
          for (var x in xhr.responseJSON.errors) {
            $('#new_user .alert ul').append('<li>' + x + ' ' + xhr.responseJSON.errors[x][0]);
          }
        },
        complete: function(xhr, status) {
          return console.log("The request is complete!");
        }
      });      
    });
  });
  </script>
<% end %>