<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title>Knoda | Predict • Compete • Conquer</title>
  <%= stylesheet_link_tag    "rotating_tweet", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "chunk", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= javascript_include_tag "jquery.cycle.all.min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "rotating_tweet", "data-turbolinks-track" => true %>
</head>
<body class="home page page-id-5 page-template page-template-template-php single-author">
  <script type="text/javascript">(function(){document.write('<a style="display:block;overflow:hidden;z-index:9999;position:absolute;top:0;left:0;" href="http://siliconprairiebuilt.com/" target="_blank"><img src="http://siliconprairiebuilt.com/build.php?i=corner-green-lg.png&s=' + window.location.host + '" /></a>');})();</script>
  <div id="container">
    <div id="header">
      <a href="http://www.knoda.com/" title="Knoda" rel="home"><img src="http://www.knoda.com/wp-content/themes/chunk/img/knoda_logo_horz.png" /></a>
    </div>
    <div id="menu">
      <div class="menu-main-container">
        <ul id="menu-main" class="menu">
          <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-14"><a href="http://www.knoda.com/">Home</a></li>
          <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a href="http://www.knoda.com/about/">About</a></li>
          <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="http://www.knoda.com/blog/">Blog</a></li>
        </ul>
      </div> 
    </div>
    <div class="twitter">
      <div class="bird"></div>
      <div class="twitterfeed">
        <div class='rotatingtweets rotatingtweets_format_0' id='rotatingtweets_4000_fade_528c09146ed9c'>
          <% @t.each do |tweet| %>
            <div class = 'rotatingtweet'>    
              <span class='rtw_main'><%= tweet.text %></span>
              <span class='rtw_meta'><a  target="_blank"  href="https://twitter.com/twitterapi/status/<%= tweet.id%>">About <%= time_ago_in_words(tweet.created_at) %> ago</a> from <a href='https://twitter.com/intent/user?user_id=1394859757' title='Knoda'>Knoda's Twitter</a> &middot; 
                <a href='https://twitter.com/intent/tweet?in_reply_to=<%= tweet.id%>' title='reply' lang='en' target="_blank" >reply</a> &middot; 
                <a href='https://twitter.com/intent/retweet?tweet_id=<%= tweet.id%>' title='retweet' lang='en' target="_blank" >retweet</a> &middot; 
                <a href='https://twitter.com/intent/favorite?tweet_id=<%= tweet.id%>' title='favorite' lang='en' target="_blank" >favorite</a></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="theapp"><img src="http://www.knoda.com/wp-content/themes/chunk/img/knoda_screens4web.png" width="400" /></div>
    <div id="contents">
      <div style="height: 50px; width: 300px;"></div>
        <p style="font-size: 20px;">Do you like making predictions? Like proving your friends wrong about theirs? Like trash talk and competition? You’ll probably like our system.</p>
        <p style="font-size: 20px;">Sign up to get Knoda updates.</p>
    </div>
  </div>
  </div>
    <div id="footer">
      &copy; Knoda 2013
      <span class="sep"> | All Rights Reserved.
    </div>
  </div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36401825-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>