<tr <% if not activity.seen %> style="background-color:#efefef" <% end%>>
	<td id = "imgid" align="center"><img class="img-rounded"><%= image_tag(activity_icon(activity)) %></img></td>
	<td id="actfeed">

		<% if activity.activity_type == 'INVITATION' %>
			<p><%= activity.invitation_sender %> has invited you to join a group</p><td><button onclick="location.href='/groups/join?code=<%= activity.invitation_code %>'">Join "<%=activity.invitation_group_name %>"</button></td>


			<% elsif activity.activity_type == 'EXPIRED' %>
				<div class="outer">
					<p class="text-center">
						<strong><%= activity.title %>
						</strong>"<%= activity.prediction_body %>"
					</p>
						<div class ="centerbutton">
							<button onclick="location.href='/predictions/<%= activity.prediction_id %>'" type="button" class="settlebutton btn btn-default text-center">Let's Settle It!
							</button>
							</div>
							</div>


				<% elsif activity.activity_type == 'COMMENT' %>
					<div class="outer">
						<p class="text-center">
							<strong><%= activity.title %>
							</strong>
						</p>
							<div class ="centerbutton">
								<button onclick="location.href='/predictions/<%= activity.prediction_id %>'" type="button" class="commentbutton btn btn-default text-center">"<%= activity.comment_body %>"
								</button>
							</div>
						</div>
		<% else %>
			<div class="outer">
				<p class="text-center">
					<strong>
						<%= activity.title %>
					</strong>
				</p>
				<p class="text-center">
					"<%= activity.prediction_body %>"
				</p>
				<div class="centerbutton">
					<button onclick="locaiton.href='/predictions/<%= activity.prediction_id %>'" type="button" class="bragbutton btn btn-default text-center">
						Brag
					</button>
				</div>
			</div>
		<% end %>

	</td>
</tr>
