
<tr <% if not activity.seen %> style="background-color:#efefef" <% end%>>
	<td class="image_url" align="center">
		<% if activity.image_url %>
			<img class="img-circle" src="<%= activity.image_url %>" />
		<% else %>
			<%= image_tag(activity_icon(activity), {:class => 'img-circle'}) %>
		<% end %>
	</td>
	<td id="actfeed">

		<% if activity.activity_type == 'INVITATION' %>
			<p><%= activity.invitation_sender %> has invited you to join a group</p><td><button onclick="location.href='/groups/join?code=<%= activity.invitation_code %>'">Join "<%=activity.invitation_group_name %>"</button></td>


			<% elsif activity.activity_type == 'EXPIRED' %>
				<div class="outer">
					<p>
						<strong><%= activity.title %>
						</strong>"<%= activity.prediction_body %>"
					</p>
						<div class ="centerbutton">
							<button onclick="location.href='/predictions/<%= activity.prediction_id %>'" type="button" class="settlebutton btn btn-default text-center">Let's Settle It!
							</button>
							</div>
							</div>
				<% elsif activity.activity_type == 'COMMENT' %>
					<div class="outer">
						<p>
							<strong><%= activity.title %>
							</strong>
						</p>
						</div>
						<div class="popover right in">
							<div class="arrow" style="top:25%"></div>
							<div class="popover-content" style="text-align:left;"><a href="/predictions/<%= activity.prediction_id %>">"<%= activity.comment_body %>"</a></div>
						</div>
		<% elsif activity.activity_type == 'WON' %>
			<div class="outer">
				<p>
					<strong>
						<%= activity.title %>
					</strong>
				</p>
				<p>
					"<%= activity.prediction_body %>"
				</p>
				<div class="centerbutton">
					<button type="button" class="brag-prediction bragbutton btn btn-default text-center" data-prediction-id="<%= activity.prediction_id %>">
						Brag
					</button>
				</div>
			</div>
			<% else %>
				<div class="outer">
					<p class="text-center">
						<strong>
							<%= activity.title %>
						</strong>
					</p>
					<p class="text-center">
						"<%= activity.prediction_body %>"
					</p>
				</div>
		<% end %>

	</td>
</tr>
