
<tr <% if not activity.seen %> style="background-color:#efefef" <% end%>>
	<td class="image_url" align="center">
		<% if activity.image_url %>
			<img class="img-circle" src="<%= activity.image_url %>" />
		<% else %>
			<%= image_tag(activity_icon(activity), {:class => 'img-circle', :style => 'width: 25px; height:25px'}) %>
		<% end %>
	</td>
	<td id="actfeed">
		<% if activity.activity_type == 'INVITATION' %>
			<div class="activity-item">
				<p><strong>Hey-O! <%= activity.invitation_sender %> has invited you to join a group</strong></p>
				<div class ="centerbutton">
					<a class="btn-join btn btn-default text-center" href="/groups/join?code=<%= activity.invitation_code %>">Join "<%=activity.invitation_group_name %>"</a>
				</div>
			</div>
			<% elsif activity.activity_type == 'EXPIRED' %>
				<div class="activity-item">
					<p class="line1"><%= activity.title %></p> <p>"<%= activity.prediction_body %>"</p>
						<div class ="centerbutton">
							<a href="/predictions/<%= activity.prediction_id %>" class="settlebutton btn btn-default text-center">Let's Settle It!</a>
						</div>
					</div>
				<% elsif activity.activity_type == 'COMMENT' %>
					<div class="activity-item">
						<p class="line1"><%= activity.title %></p>
						</div>
						<div class="popover right in">
							<div class="arrow" style="top:25%"></div>
							<div class="popover-content" style="text-align:left;"><a href="/predictions/<%= activity.prediction_id %>">"<%= activity.comment_body %>"</a></div>
						</div>
		<% elsif activity.activity_type == 'WON' %>
			<div class="activity-item">
				<p class="line1"><%= activity.title %></p>
				<p>"<%= activity.prediction_body %>"</p>
				<div class="centerbutton">
					<a class="brag-prediction bragbutton btn btn-default text-center" data-prediction-id="<%= activity.prediction_id %>">Brag</a>
				</div>
			</div>
			<% else %>
				<div class="activity-item">
					<p class="line1"><%= activity.title %></p>
					<p>"<%= activity.prediction_body %>"</p>
				</div>
		<% end %>
	</td>
</tr>
