<tr <% if not activity.seen %> style="background-color:#efefef" <% end%>>
	<td id="img"><img class="img-rounded"><%= image_tag(activity_icon(activity)) %></img></td>
	<td id="actfeed">
		<% if activity.activity_type == 'INVITATION' %>
			<p><%= activity.invitation_sender %> has invited you to join the group "<%=activity.invitation_group_name %>"</p><button href="/groups/join?code=<%= activity.invitation_code %>"></button>
			<% elsif activity.activity_type == 'EXPIRED' %>
				<p class="text-center"><strong><%= activity.title %></strong> "<%= activity.prediction_body %>"</p><button href="/predictions/<%= activity.prediction_id %>" type="button" class="settlebutton btn btn-default text-center" style="text-align: center;">Let's Settle It!</button>
				<% elsif activity.activity_type == 'COMMENT' %>
					<a href="/predictions/<%= activity.prediction_id %>"><strong><%= activity.title %></strong> "<%= activity.comment_body %>"</a>
		<% else %>
			<a href="/predictions/<%= activity.prediction_id %>"><strong><%= activity.title %></strong> "<%= activity.prediction_body %>"</a>
		<% end %>

	</td>
</tr>
