<!DOCTYPE html>
<html>
  <head>
    <title>Knoda | Predict • Compete • Conquer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name="description" content="Knoda lets you predict anything, challenge your friends, and talk some trash.  Make your prediction today." /> 
    <%= stylesheet_link_tag "application-prelogin" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
    
    <link href='http://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:500,400,300,700|Krona+One' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>" />
    <link rel="shortcut icon" type="image/png" href="<%= image_path('favicon.png') %>" />    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>  
    <![endif]-->
    <%= yield :head %>
    <%= render partial: "shared/google_analytics" %>
    <script>
      $(function() {
        if (($('.full-height-content').height()) < $(window).height() - 160) {
          $('.full-height-content').height($(window).height() - 160)
        }
      });
    </script>    
  </head>
  <body>
    <div id="home-container">
      <%= render "home/prelogin/header"%>
      <%= render :partial => "home/prelogin/subnav", :locals => { :active => 'about'}  %>
      <div class="content full-height-content">
        <div class="container" style="max-width:500px;">
          <%= yield %>
        </div>
      </div>
      <%= render "home/prelogin/footer" %>
    </div>
  </body>
</html>