<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <link href='http://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>" />
    <link rel="shortcut icon" type="image/png" href="<%= image_path('favicon.png') %>" />    
    <link href="<%= local_stylesheet_path('application')%>" media="all" rel="stylesheet">
    <%= javascript_include_tag "application" %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name="description" content="Knoda lets you predict anything, challenge your friends, and talk some trash.  Make your prediction today." />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>  
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= render partial: "shared/lucky_orange" %>
    <style>
      html,
      body {
        height: 100%;
        padding-top: 0px;
      }
      #wrap {
        min-height: 100%;
        height: auto;
        margin: 0 auto -50px;
        padding: 0 0 50px;
        background-color:#255b38
      }
    </style>    
  </head>
 <body>
    <div id="wrap" class="home">
        <div class="container" style="margin: 0px; padding: 0px 0px; width: 100%">
        	<div class="row">
        		<div class="col-xs-12" style="text-align:center;background-color:#ffffff">
        			<div style="margin-top: 10px;">
        				<%= image_tag('knoda_logo.png', :style => 'vertical-align:middle') %>
        				<p style="display:inline-block;font-family: 'Krona One', sans-serif; font-size: 48px;margin-bottom:0px;vertical-align:middle;color:#255b38">KNODA</p>
        			</div>
        		</div>
        	</div>
          <%= yield %>
      </div>        
    </div>

    <div id="footer">
      <div class="row center">
        <a href="/about">About</a> | <a href="http://blog.knoda.com">Blog</a> | <a href="/terms">Terms</a> | <a href="/privacy">Privacy</a> | <a href="/support">Support</a>
      </div>
    </div>
    <%= render partial: "shared/google_analytics" %>
    <%= yield :bodyClose %>
  </body>
 </html>
