<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name="description" content="Knoda lets you predict anything, challenge your friends, and talk some trash.  Make your prediction today." /> 
    <%= csrf_meta_tags %>
    
    <link href='http://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:500,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application-home" %>
    <!--<link href="<%= local_stylesheet_path('application-home')%>" media="all" rel="stylesheet">-->
    <link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>" />
    <link rel="shortcut icon" type="image/png" href="<%= image_path('favicon.png') %>" />    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag "home" %>
    <%= javascript_include_tag 'home/animations/vote_on_predictions_edgePreload' %>
    <%= javascript_include_tag 'home/animations/settle_results_edgePreload' %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>  
    <![endif]-->
    <%= yield :head %>
    <%= render partial: "shared/google_analytics" %>
    <style>
      .edgeLoad-EDGE-160599758 { visibility:hidden; }
      .edgeLoad-EDGE-136483370 { visibility:hidden; }
    </style>
  </head>
  <body>
    <div id="home-container">
      <%= yield %>
    </div>
  </body>
</html>